DATABASE_URL=mysql://root:@mysql:3306/keskonmange

### google/apiclient ###
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

### foursquare/api ##
FOURSQUARE_CLIENT_ID=
FOURSQUARE_CLIENT_SECRET=
FOURSQUARE_API_VERSION=

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=fafa69ad10e0a0e5ee2b6b9ea33afd24
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###
